body {
    background-image: url("./GettyImages-1211293811.jpg");
}
.kwadrat {
    background-color: rgba(0, 255, 255, 0.562);
    margin: 10%;
    width: 80%;
}
h1, h2 {
    text-align: center;
}
img {
    padding-left: 25%;
}
h2 {
    color:rgb(82, 4, 155);
}
p {
    padding-left: 3%;
    padding-right: 3%;
}